a {
  color: black;
  text-decoration: none;
  font-size: 26px;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.499);
}

nav {
  width: 100%;
  height: 40px;
}

.heading {
  font-size: 30px;
}

nav ul {
  display: flex;
  height: 100%;
  background-color: #d9d9d9;
  list-style: none;
  text-decoration: none;
}

nav ul li {
  width: 100%;
  text-align: center;
  height: 100%;
  color: black;
  text-decoration: none;
}

body {
  font-family: promt, sans-serif;
  background-color: pink;
  background-size: cover;
}

.nav-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30% auto;
}

.nav-wrapper ul li {
  display: inline;
  list-style: none;
}

.nav-wrapper a {
  letter-spacing: 0.1em;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.nav-wrapper a:hover {
  cursor: pointer;
  color: #eee;
}

.wrapper > .featured,
.wrapper > .sub-featured > div .wrapper > .featured,
.wrapper > .main-content,
.wrapper > .main-sidebar {
  padding: 25px;
}

.list-item {
  margin-left: 10px;
  text-transform: uppercase;
  padding: 10px;
}

.list-item {
  font-weight: bold;
  font-size: 24px;
}

.main-wrapper {
  max-width: 1200px;
  margin: auto;
}

.burger-icon {
  display: none;
}

.wrapper {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    'featuredmain featuredmain featuredsub'
    'contentmain contentmain contentsub';
}

.featured {
  grid-area: featuredmain;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url(/images/saniyaimage3) no-repeat center center;
  display: grid;
  align-content: flex-end;
  color: white;
}

.main-content,
.featured,
.sub-featured,
div,
.main-sidebar {
  box-shadow: 0 0 4px rgba (0, 0, 0, 0.25);
}

.featured h1 {
  font-size: 36px;
  max-width: 650px;
}

.sub-featured {
  background-color: rgb(255, 126, 147);
  grid-area: featuredsub;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.sub-featured h3 {
  margin-top: 0;
}

.sub1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url(/images/saniyaimage2) no-repeat center center;
  background-size: cover;
  color: white;
}

.sub2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url(/images/saniyaimage4) no-repeat center center;
  background-size: cover;
  color: white;
}

.sub3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url(/images/saniyaimage1) no-repeat center center;
  background-size: cover;
  color: white;
}

.main-content {
  grid-area: contentmain;
  background-color: rgba(255, 255, 255, 0.35);
  color: #444;
  line-height: 1.5em;
}

.main-sidebar {
  grid-area: contentsub;
  background-color: rgba(255, 255, 255, 0.35);
  color: #444;
  line-height: 1.5em;
}

.footer {
  display: grid;
  margin: auto;
  grid-template-columns: minmax(20px300px) minmax(20px300px) minmax(20px300px) minmax(20px300px);
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  background-color: #333;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url(/images/empire-state-building.jpeg) no-repeat center center;
  background-size: cover;
}

.footer > div {
  padding: 20px;
}

.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  grid-column: 1/-1;
}

/*tablet media query*/

@media screen and (max-width: 950px) {
  .wrapper {
    grid-template-areas:
      'featuredmain featuredmain featuredmain'
      'featuredsub featuredsub featuredsub'
      'contentmain contentmain contentsub';
  }

  .sub-featured {
    grid-template-columns: repeat(3, 1fr);
  }

  .nav-items {
    grid-column: 1/5;
    text-align: center;
  }

  .logo {
    grid-column: 1/5;
    text-align: center;
  }

  .nav-wrapper {
    margin-top: 0;
  }
}

/*mobile media query*/

@media screen and (max-width: 690px) {
  .logo {
    grid-column: 1/3;
  }

  .nav-items {
    grid-column: 1/5;
    text-align: center;
  }

  .nav-wrapper ul {
    padding: 0;
    margin: 0;
  }

  .nav-wrapper ul li {
    display: block;
  }

  .burger-icon {
    display: inline-block;
    grid-column: 4/5;
    border: 2px solid #333;
    color: #333;
    padding: 10px;
    font-weight: bold;
    border-radius: 3px;
    justify-self: end;
  }

  .burger-icon:hover {
    cursor: pointer;
  }

  .wrapper {
    grid-template-areas:
      'feaaturedmain featuredmain featuredmain'
      'contentmain contentmain contentmain'
      'featuredsub featuredsub featuredsub'
      'contentsub contentsub contentsub';
  }

  .sub-featured {
    grid-template-columns: 1fr;
  }

  .footer > div {
    grid-column: 1/-1;
  }
}
