body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
  background-image: url(/images/best-about-us-pages.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 190px;
  background-position: center;
  display: flex;
  align-items: end;
}
nav {
  width: 100%;
  height: 40px;
}
nav ul {
  display: flex;
  height: 100%;
  background-color: #d9d9d9;
  list-style: none;
}
nav ul li {
  width: 17%;
  text-align: center;
  height: 100%;
}
nav a:hover,
.active {
  text-transform: uppercase;
  height: 100%;
  background-color: beige;
}
.main-image {
  margin-top: 30px;
}
.intro-text {
  font-size: small;
  margin-left: 8px;
}
.welcome {
  font-size: x-small;
  margin-left: 20px;
  margin-top: 20px;
}
